<%- include('../partials/header') %>

<h2>Create Your Workout Routine</h2>
<form action="/workouts" method="POST">
<label>Exercise:
    <select name="workType">
        <option value="">SELECT EXERCISE</option>
        <option value="chest">Chest</option>
        <option value="back">Back</option>
        <option value="arms">Arms</option>
        <option value="shoulders">Shoulders</option>
        <option value="legs">Legs</option>
        <option value="core">Core</option>
        <option value="full body">Full Body</option>
        <!-- Add other training options here -->
     </select>
</label>
<br>
<label>Notes:
    <input type="text" name="workNote">
    </label>
    <br>
    <input type="datetime-local" name="workDate">
    <br>
    <button type="submit">Create Workout</button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>