<%- include('../partials/header') %>

<h2>Create Your Workout Routine</h2>
<form action="/workouts" method="POST">
  <label>Exercise: 
    <select name="workType">
      <option value="">SELECT EXERCISE</option>
      <option value="Chest">Chest</option>
      <option value="Back">Back</option>
      <option value="Arms">Arms</option>
      <option value="Shoulders">Shoulders</option>
      <option value="Legs">Legs</option>
      <option value="Core">Core</option>
      <option value="Full Body">Full Body</option>
      <!-- Add more options -->
      </select>
  </label>
  <br>
  <label>Notes: 
    <input type="text" name="workNote">
  </label><br>
  <label>Date: 
    <input type="datetime-local" name="workDate">
    <br>
  <button type="submit">Create Workout</button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>
