<%- include('./partials/header') %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<a href="/workouts">
  <img type="image" src="/img/weight.png" />
</a>
<a href="/workouts">
  <img type="image" src="/img/cardio.png" />
</a>


<%- include('./partials/footer') %>