<%- include('./partials/header') %>

<% if (user) { %>

<h1>Get Me Fit</h1>

<a href="/workouts">
  <img type="image" src="/img/weight.png" />
</a>
<a href="/cardio">
  <img type="image" src="/img/cardio.png" />
</a>

<% } else { %>

<h1>Welcome to Get Me Fit!</h1>
<h3>Please log in to begin your workout...</h3>

<% } %>

<%- include('./partials/footer') %>