<%- include('./partials/header') %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div class="button-container">
  <a href="/workouts" class="button">
    <img src="/img/weight.png" alt="Weight Icon" />
  </a>
  <a href="/workouts" class="button">
    <img src="/img/cardio.png" alt="Cardio Icon" />
  </a>
</div>
<br />
<div class="foot-state">Fitness Tracking Made Easy</div>
<br />

<div class="foot-tag">Git Fit Inc ©</div>

<%- include('./partials/footer') %>
