<%- include('./partials/header') %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<a href="/workouts">All Weight Training</a> |
<a href="/cardio">All Cardio Workouts</a>

<%- include('./partials/footer') %>
