<%- include('./partials/header') %>

<h1><%= title %></h1>

<div class="button-container">
  <a href="/workouts" class="button">
    <img src="/img/weight.png" alt="Weight Icon" />
  </a>
  <a href="/workouts" class="button">
    <img src="/img/cardio.png" alt="Cardio Icon" />
  </a>
</div>
<br />
<div class="foot-state">Fitness Tracking Made Easy</div>
<br />


<%- include('./partials/footer') %>