<%- include('../partials/header') %>

<h1 class="add-cardio">Add Cardio</h1>
<form action="/cardio" method="POST" class="cardio-form">
  <label for="activity" class="cardio-label">Activity: </label>
  <select name="activity" class="cardio-select" required>
    <option value="" disabled selected>Select Activity</option>
    <option value="Running">Running</option>
    <option value="Cycling">Cycling</option>
    <option value="Jump Rope">Jump Rope</option>
    <option value="Swimming">Swimming</option>
    <option value="Treadmill">Treadmill</option>
    <option value="Stair Master">Stair Master</option>
    <option value="Elliptical">Elliptical</option>
    <option value="Rowing">Rowing</option>
    <!-- Add other activity options here -->
  </select>
  <br>
  <label for="duration" class="cardio-label">Duration (minutes): </label>
  <select name="duration" class="cardio-select" required>
    <option value="" disabled selected>Select Duration</option>
    <option value="15">15 minutes</option>
    <option value="30">30 minutes</option>
    <option value="45">45 minutes</option>
    <option value="60">60 minutes</option>
    <!-- Add other duration options here -->
  </select>
  <br>
  <label for="distance" class="cardio-label">Distance (optional): </label>
  <select name="distance" class="cardio-select">
    <option value="">No Distance</option>
    <option value="1">1 mile</option>
    <option value="2">2 miles</option>
    <option value="3">3 miles</option>
    <option value="4">4 miles</option>
    <option value="5">5 miles</option>
    <!-- Add other distance options here -->
  </select>
  <br>
  <label for="workDate" class="cardio-label">Date: </label>
  <input type="datetime-local" name="workDate" class="cardio-input">
  <br>
  <input type="submit" value="Add Cardio Workout" class="cardio-button" />
</form>

<%- include('../partials/footer') %>